<!-- Current position Section -->
<section id="currentposition" class="bg-light-gray">
 	<div class="container">
		<div class="row">
		    <div class="col-lg-3 text-center">
			</div>
			<div class="col-lg-6 text-center">
		    	<img class="img-responsive text-center rounded" src="assets/img/profile.png" style="width:100%">
            </div>
			<div class="row">
		    	<div class="col-lg-3 text-center">
        		</div>
			</div>
		</div>
		<div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Who I am</h2>
                <h5 class="subheading text-muted">Graduate student (defended my P.h.D December 9th, 2025!)</h5>
                <p class="section-subheading text-muted">Rice University Department of Earth, Environmental, and Planetary Sciences</p>
		    	<p class="lead text-success strong"> I am looking for a postdoctoral position!<p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-center">
                <h5 class="subheading text-muted">Email: audrey.putnam@rice.edu</h5>
				<h5 class="subheading text-muted">She/Her/Hers</h5>
			</div>
			<div class="col-md-6 text-center">
                <h5 class="subheading text-muted">ORCId: <a href="https://orcid.org/0000-0001-9604-2763">0000-0001-9604-2763</a></h5>
                <h5 class="subheading text-muted"><a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=IGWcGMEAAAAJ">Google Scholar</a></h5>
			</div>
		</div>
	</div>
</section>